@import url('https://fonts.cdnfonts.com/css/nobel');
* {
  font-family: 'Nobel', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(131, 131, 131);
}
body {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1370px;
    background: white;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 50px;
}
.container .left_Side {
    position: relative;
    background:rgb(255, 247, 233);
    padding: 20px;
}
.container .right_Side {
    position: relative;
    background: rgb(255, 250, 250);
    padding: 40px;
}
.profileText .imgBox {
    position: relative;
    width: 270px;
    height: 270px;
    border-radius: 200px;
    overflow: hidden;
    background-image: url('./img/photo.jpg');
    background-position: center;
    background-size: cover;
}
.titleSkills{
    margin-top: 80px;
    font-size: 30px;
    border-bottom: 2px solid rgb(255, 198, 76);
    color: rgb(255, 198, 76);
}
.box_skills {
    margin-top: 40px;
    width: 250px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 22px;
}
.box_skills span{
    height: 22px;
    color: rgb(131, 131, 131);
}
.titleContacts {
    margin-top: 60px;
    font-size: 30px;
    border-bottom: 2px solid rgb(255, 198, 76);
    color: rgb(255, 198, 76);
}
.box {
    margin-top: 50px;
    display: flex;
}
.box_icon_Github, .box_icon_phone, .box_icon_mail, .box_icon_Linkedin, .box_icon_Home{
    width: 20px;
    height: 20px;
    padding: 3px;
    background-position: center;
    background-size: cover;
}
.box_icon_Home{
    background-image: url('./img/icons8-casa-96.png');
}
.box_icon_mail{
    background-image: url('./img/icons8-messaggio-100.png');
}
.box_icon_phone{
    background-image: url('./img/phone.png');
}
.box_icon_Linkedin{
    background-image: url('./img/linkedin.png');
}
.box_icon_Github{
    background-image: url('./img/github.png');
}
.box_contact{
    margin-left: 14px;
    width: 175px;
    display: flex;
    font-weight: bold;
    align-items: center;
    color: rgb(131, 131, 131);
}
.reference {
    width: 160px;
    display: flex;
    padding: 3px;
    margin-left: 40px;
}
.box_Title{
    width: 650px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
    gap: 10px;
}
.name {
    font-size: 50px;
    font-weight: bold;
    color: rgb(255, 198, 76);
}
.job {
    color: rgb(173, 173, 173);
    font-weight: bold;
    font-size: 27.5px;
}
.introduction{
    margin-top: 20px;
    padding: 20px;
    font-size: 22px;
    display: flex;
    text-align:justify;
}
.box_about{
    height: 400px;
    width: 650px;
    padding: 20px;
}
.title1 {
    border-bottom: 2px solid rgb(255 183 28);
    color: rgb(255, 198, 76);
    font-size: 25px;
}
.about .box_Data {
    display: flex;
    flex-direction: row;
    margin: 25px 0;
    text-align:justify;
}
.about .box_Data .data {
    min-width: 150px;
    font-size: 18px;
}
.about .box_Data .data h4 {
    text-transform: uppercase;
    font-weight: 600;
    text-align:justify;
}
.about .box_Data .text h3 {
    text-transform: uppercase;
    font-size: 20px;
}
.about2 h2 {
    margin-top: 40px;
}
.about2 .box_Data {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}
.about2 .box_Data .data {
    min-width: 150px;
    font-size: 18px;
}
.about2 .box_Data .text {
    font-size: 20px;
}
.text p {
    font-size: 20px;
    margin-top: 10px;
}
.box_TrattamentoDati{
    display: flex;
}
.trattamento_Dati {
    margin-top: 40px;
}

/* @media (max-width:700px) {
   .container {
    margin: 10px;
    grid-template-columns:repeat(1,1fr) ;
   }
}
@media  (max-width: 600px) {
    .introduction {
        width: 350px;
    }
    .container {
        background: rgb(255, 255, 255);
        box-shadow: none;
        margin: 0px;
        margin-right: 70px;
    }
    .container .right_Side {
        background: rgb(255, 255, 255);
    }
    .container .left_Side {
        padding: 55px;
        width: 420px;
        background: rgb(200, 200, 200);
    }
    .box_Title {
        width: 370px;
    }
    .about .box_Data {
        flex-direction: column;
    }
    .about .box_Data .text p {
        width: 200px;
    }
    .about .box_Data .data {
        margin-bottom: 10px;
    }
    .about .box_Data .text h3 {
        margin-bottom: 10px;
    }
    .about2 .box_Data {
        flex-direction: column;
    }
    .about2 .box_Data .text {
        margin-top: 10px;
    }
    .about2 .box_Data .text h4 {
        margin-top: 10px;
    }
    .box_about .box_TrattamentoDati .trattamento_Dati {
        width: 300px;
        margin-bottom: 20px;
    }
    .box_about {
        width: 350px;
    }
} */